<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--============视图解析器 解析jsp 默认使用jstl标签=========-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="prefix" value="/WEB-INF/admin/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    </bean>

    <!--=============自动扫描=================================-->
    <context:component-scan base-package="com.cj.action"/>

    <!--==============基于注解配置映射器============================-->
    <mvc:annotation-driven conversion-service="customConversionService"><!-- validator="validator"-->
        <!--        &lt;!&ndash;配置Jackson转换器返回数据为json&ndash;&gt;
            <mvc:message-converters>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            &lt;!&ndash;<value>application/json;charset=UTF-8</value>&lt;!&ndash;返回json对象&ndash;&gt;&ndash;&gt;
                            <value>text/json;charset=UTF-8</value>&lt;!&ndash;返回json字符串&ndash;&gt;
                            &lt;!&ndash;<value>text/html; charset=UTF-8</value>&lt;!&ndash;返回json字符串&ndash;&gt;&ndash;&gt;
                        </list>
                    </property>
                </bean>
            </mvc:message-converters>-->
    </mvc:annotation-driven>

    <!-- ==============配置拦截器 =========================== -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/dept/**"/>
            <bean class="com.cj.interceptor.LogInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/dept/**"/>
            <bean class="com.cj.interceptor.LoginInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>

    <!--=============自定义参数绑定============================-->
    <bean id="customConversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.cj.utils.String2DateTime"/>
            </set>
        </property>
    </bean>

    <!--==============支持文件上传=============================-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="maxUploadSize" value="5242880"/>
    </bean>


    <!-- =============不过滤静态资源 (RESTful风格需要配置)====== -->
    <mvc:resources location="/bootstrap/" mapping="/bootstrap/**"/>
    <mvc:resources location="/easyui/" mapping="/easyui/**"/>

    <!-- ==============配置校验器 (一般不用)===================== -->
    <!--<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        &lt;!&ndash;Hibernate校验器&ndash;&gt;
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        &lt;!&ndash;指定校验使用的资源文件，如果不指定则默认使用类路径下的ValidationMessage.properties&ndash;&gt;
        <property name="validationMessageSource" ref="springMVCValidationMsgSource"/>
    </bean>
    &lt;!&ndash;校验错误信息配置文件&ndash;&gt;
    <bean id="springMVCValidationMsgSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:spring/validationMsg</value>
            </list>
        </property>
        <property name="fileEncodings" value="UTF-8"/> &lt;!&ndash;资源文件编码格式&ndash;&gt;
        <property name="cacheSeconds" value="240"/>&lt;!&ndash; 资源文件内容缓存时间 &ndash;&gt;
    </bean>-->
</beans>